@import '~sass/variables';
@import '~sass/mixins';
.navigation{
    background-color: $color_1;
    height: 100%;
    margin-left: -15px;
    width: 200px;
    max-width: 100%;
    .content-navigation{
        padding: 20px;
        .content-item{
            button{
                width: 150px;
                max-width: 100%;
            }
        }
    }
}