<div class="wrapper">  
        <div id="content-w">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                Weekly Report
            </button>
        <div> 
        <br>
        <div id="content-m">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                Monthly Report
            </button>
        <div> 
        <br>
        <div id="content-i">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    Issues
                </button>
            <div> 
    
    </div>
