<div class="navigation">
    <div class="content-navigation">
        <div class="content-item">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                Weekly Report
            </button>
        <div> 
        <br>
        <div class="content-item">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
                Monthly Report
            </button>
        <div> 
        <br>
        <div class="content-item">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    Issues
                </button>
            <div> 
    </div>

    
    </div>
