@import '~sass/variables';
@import '~sass/mixins';
.list-log-checks {
    margin-top: 200px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.14);
    .title-date {
        padding: 15px;
        background-color: $color_1;
        h2 {
            margin: 0px;
            font-size: 22px;
            color: #fff;
        }
    }
    .list-log {
        padding: 15px;
        .content-list-log {
            @include display-flex();
            @include align-items(center);
            @include justify-content(space-between);
            .time-check-inout {
                width: 50%;
                display: flex;
                justify-content: center;
                p {
                    margin: 0px;
                    font-size: 21px;
                    i{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .container-general-check-buttons {
        padding: 15px;
        .checkbtns {
            display: flex;
            button {
                width: 50%;
                &:first-child {
                    margin-right: 15px;
                }
            }
        }
    }
}
button:disabled {
    opacity: 0.2;
}
.flexhour{
    display: flex;
    flex-wrap: wrap;
}