<header>
  <div class="navbar navbar-fixed-top">
    <div class="container-header">
      <img src="../assets/images/stopwatch.png" title="time tracker" alt="White Watch">
      <div *ngIf="!isLogged" class="title-app">
        <h2>
          Time Tracking Application
        </h2>
      </div>
      <div *ngIf="isLogged" class="container-title-welcome-logout">
          <ul class="nav">
            <li class="nav-item"><button class="nav-link" (click)="returnToCheck()">Check</button></li>
            <li class="nav-item"><button class="nav-link" (click)="weeklyReport()">Weekly Report</button></li>
            <li class="nav-item"><button class="nav-link" (click)="monthlyReport()">Monthly Report</button></li>
          </ul>
      </div>
    </div>
    <div *ngIf="isLogged" class="welcome">
      <p>Welcome, </p>
      <p>{{currentUserWorkday.name.split(" ", 1)}}</p>
      <button (click)="logOut()" class="logout">  
        <p><i class="fa fa-power-off"></i>Log Out</p>
      </button>
    </div>
  </div>
</header>
<div class="container-fluid container-general">
  <router-outlet></router-outlet>
</div>