<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-header">
            <div class="logo-title-app">
                <img src="../assets/images/time-tracker-logo.png" title="time tracker" alt="time tracker">
                <h1>{{title_header}}</h1>
            </div>
            <div *ngIf="is_logged" class="container-title-welcome-logout">
                <div class="welcome">
                    <p>Welcome,</p>
                    <p>{{currentUser.name}}</p>
                </div>
                <div (click)="logOut" class="logout">
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid container-general">

    <div>
        <router-outlet></router-outlet>
    </div>

</div>