header .navbar .container-header h1 {
    color: #fff;
    margin: 0px;
    font-size: 30px;
}

header .navbar .container-header {
    display: flex;
    align-items: center;
}

header .navbar .container-header img {
    width: 100%;
    max-width: 60px;
    margin-right: 15px;
    padding: 5px 0px;
}

.container-general {
    margin: 35px 0px;
}

@media (min-width: 768px) {
    header .navbar .container-header h1 {
        font-size: 36px;
    }
    .container-general {
        margin: 0px;
    }
    .app-login {
        position: relative;
    }
    .component-login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}