@import '~sass/variables';
@import '~sass/mixins';

header {
    background-color: #6C7A89;
    .navbar {

        .container-header {
            @include display-flex();
            @include align-items(center);
            @include justify-content(space-between);
            padding: 0px 15px;
            
            img {
                width: 100%;
                max-width: 35px;
                margin-right: 15px;
                padding: 5px 0px;
                }
            }
            .title-app{
                h2 {
                    color: #fff;
                    margin: 0px;
                    font-size: 15px;
                    @media (min-width: 768px) {
                        font-size: 36px;
                    }
                }
            }

            .container-title-welcome-logout {
                @include display-flex();
                @include align-items(center);
        

            
                .nav{
                    .nav-item{
                        .nav-link{
                            color: #fff;
                            background: none;
                            border: none;
                            &:hover{
                                cursor: pointer;
                            }
                            &:focus{
                                font-weight: 1000;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }


.container-general {
    margin: 100px 0px;
    height: 100vh;

    @media (min-width: 768px) {
        margin: 0px 0px 0px -15px;
    }
}
.welcome {
    @include display-flex();
    @include align-items(center);
    @include justify-content(space-between);
    padding: 0px 15px;
    color: #fff;
    
    p {
        margin: 0px;
        font-size: 19px;
            
        &:first-child {
            margin-right: 5px;
        }
    }
    .logout {
        padding: 8px 15px;
        font-size: 16px;
        border: none;
        background-color: #6C7A89;
        color: #fff;
        
        &:focus{
            outline: none;
        }
        &:hover{
            cursor: pointer;
        }
        i {
            margin-right: 5px;
        }
    }
}
}