.button-report {
  margin-top: 25px;
  align-content: center;
  margin-bottom: 20px;
}

.help {
  i {
    margin-right: 5px;
    color: blue;
  }
}

.container-table-report {
  overflow-x: auto;
  margin: 20px auto;
  text-align: center;
  .table-desktop {
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
  }
  .table-mobile-tablet {
    @media (min-width: 992px) {
      display: none;
    }
  }
}

.mssg {
  text-align: center;
  width: 400px;
  margin-top: 20px;
}

.close {
  cursor: pointer;
}
