<div class="container-login">
  <h2>Sign in</h2>
  <h5>with your Gsuit account</h5>
  <br>
  <p class="text-primary">Email</p>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input [(ngModel)]="user" type="email" class="form-control" placeholder="User" aria-label="User" aria-describedby="basic-addon1">
  </div>
  <br>
  <p class="text-primary">Password</p>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">#</span>
    <input [(ngModel)]="pass" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
  </div>
  <br>
  <div class="button-login">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</div>
