@import '~sass/variables';
@import '~sass/mixins';
.component-login {
    padding: 30px;
    width: 500px;
    max-width: 100%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.14);
    h2 {
        margin: 0px;
    }
}

.component-login .input-group-addon {
    min-width: 40px;
}

.component-login .button-login {
    display: flex;
    justify-content: flex-end;
}

.component-login .btn_createUser {
    margin-left: 10px;
}

.g-signin2 {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .component-login {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}